.board-wrapper {
  & .board {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    & .board-row {
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: center;

      & .board-field {
        cursor: pointer;
      }
    }
  }

}
